/* src/Styles/Dashboard.css */

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    background-image: url('../Images/homepagebackground.jpg'); /* Set background image */
    background-size: cover; /* Ensure the background image covers the entire container */
    background-position: center; /* Center the background image */
}

.content {
    flex: 1; /* Take up the remaining space */
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.8); /* Slightly transparent background */
    color: #fff; /* Ensure text color is white */
    text-align: center; /* Center-align text */
}

h1 {
    margin: 0; /* Remove default margin */
}
