/* Login.css */


.login-page {
  display: flex; /* Use flexbox for the main container */
  height: 100vh;
  background-color: #0B0C10; /* Set a dark background color */
  flex-basis: 45%; /* Set the width to 45% */

}

.login-container {
  max-width: 400px;
  margin: auto;
  margin-left: -140px; /* Move the container to the left */
  margin-right: 50px;
  margin-top: 200px;
  border-radius: 18px;
  position: relative;
  z-index: 1; /* Bring the login form above the image */
  background-color: #C5C6C7; /* Change background to white */
  padding: 70px; /* Increase padding for more space */

}

.image-container {
  flex: 1; 
  flex-basis: 55%; 
  background-color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 1000px; /* image size*/
  height: 500px;
  object-fit: fill;
  
}

body.login-body {
  background-color: black; 
  margin: 0; 
}

.login-container h2 {
  text-align: center;
  color: #0B0C10;
  position: relative;
  padding-bottom: 20px;
  z-index: 2; /*to keep logo behind text */
  font-family: 'Arial', 'Helvetica', sans-serif;

}


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
  font-family: 'Arial', 'Helvetica', sans-serif;

  
}

.form-group input {
  width: 120%;
  padding: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Arial', 'Helvetica', sans-serif;

}


button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-weight: normal;
}

button:hover {
  background-color: #555657;
}

p {
  text-align: center;
  margin-top: 15px;
  font-family: 'Arial', 'Helvetica', sans-serif;

}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.link-button {
  background: none;
  color: #007bff; /* Adjust this color to match your design */
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit; /* Inherit font size from parent */
  padding: 0; /* Remove default button padding */
  outline: none; /* Remove the outline for better aesthetics */
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-weight: normal;

}

.link-button:hover {
  background: none; /* Remove background on hover */
  color: #0056b3; /* Darken the text color on hover (optional) */
}


