.navbar-container {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: none;
    width: auto; /* Do not extend full width */
    position: fixed; /* Fix it to the top */
    top: 0; /* Align at the top */
    right: 0; /* Align to the right */
    z-index: 100; /* Higher z-index to ensure it’s above other elements */
}


.button-container {
    display: flex;
    gap: 40px; /* Adjust gap between the buttons */
    align-items: center;
    justify-content: flex-end; /* Align buttons to the right */
}

.button {
    background-color: transparent;
    color: #000;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.button:hover {
    color: #8d8d8d;
}

.logout {
    color: #ff0000;
    font-weight: bold;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 20px; /* Space between buttons and search bar */
}
